Week 08 B/Week 08 B Client/xml-resources/web-service-references/ServerWebService/wsdl/localhost_8080/Week_08_B_Server/ServerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server/" name="ServerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://server/" schemaLocation="http://localhost:8080/Week_08_B_Server/ServerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="isConnected">
<part name="parameters" element="tns:isConnected"/>
</message>
<message name="isConnectedResponse">
<part name="parameters" element="tns:isConnectedResponse"/>
</message>
<message name="findShortestBetweenNameAndSurname">
<part name="parameters" element="tns:findShortestBetweenNameAndSurname"/>
</message>
<message name="findShortestBetweenNameAndSurnameResponse">
<part name="parameters" element="tns:findShortestBetweenNameAndSurnameResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="addString">
<part name="parameters" element="tns:addString"/>
</message>
<message name="addStringResponse">
<part name="parameters" element="tns:addStringResponse"/>
</message>
<message name="findShortestAmongAllStrings">
<part name="parameters" element="tns:findShortestAmongAllStrings"/>
</message>
<message name="findShortestAmongAllStringsResponse">
<part name="parameters" element="tns:findShortestAmongAllStringsResponse"/>
</message>
<message name="findShortestBetween">
<part name="parameters" element="tns:findShortestBetween"/>
</message>
<message name="findShortestBetweenResponse">
<part name="parameters" element="tns:findShortestBetweenResponse"/>
</message>
<message name="findShortestBetweenWithException">
<part name="parameters" element="tns:findShortestBetweenWithException"/>
</message>
<message name="findShortestBetweenWithExceptionResponse">
<part name="parameters" element="tns:findShortestBetweenWithExceptionResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<portType name="ServerWebService">
<operation name="isConnected">
<input wsam:Action="http://server/ServerWebService/isConnectedRequest" message="tns:isConnected"/>
<output wsam:Action="http://server/ServerWebService/isConnectedResponse" message="tns:isConnectedResponse"/>
</operation>
<operation name="findShortestBetweenNameAndSurname">
<input wsam:Action="http://server/ServerWebService/findShortestBetweenNameAndSurnameRequest" message="tns:findShortestBetweenNameAndSurname"/>
<output wsam:Action="http://server/ServerWebService/findShortestBetweenNameAndSurnameResponse" message="tns:findShortestBetweenNameAndSurnameResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://server/ServerWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://server/ServerWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="addString">
<input wsam:Action="http://server/ServerWebService/addStringRequest" message="tns:addString"/>
<output wsam:Action="http://server/ServerWebService/addStringResponse" message="tns:addStringResponse"/>
</operation>
<operation name="findShortestAmongAllStrings">
<input wsam:Action="http://server/ServerWebService/findShortestAmongAllStringsRequest" message="tns:findShortestAmongAllStrings"/>
<output wsam:Action="http://server/ServerWebService/findShortestAmongAllStringsResponse" message="tns:findShortestAmongAllStringsResponse"/>
</operation>
<operation name="findShortestBetween">
<input wsam:Action="http://server/ServerWebService/findShortestBetweenRequest" message="tns:findShortestBetween"/>
<output wsam:Action="http://server/ServerWebService/findShortestBetweenResponse" message="tns:findShortestBetweenResponse"/>
</operation>
<operation name="findShortestBetweenWithException">
<input wsam:Action="http://server/ServerWebService/findShortestBetweenWithExceptionRequest" message="tns:findShortestBetweenWithException"/>
<output wsam:Action="http://server/ServerWebService/findShortestBetweenWithExceptionResponse" message="tns:findShortestBetweenWithExceptionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://server/ServerWebService/findShortestBetweenWithException/Fault/Exception"/>
</operation>
</portType>
<binding name="ServerWebServicePortBinding" type="tns:ServerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="isConnected">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findShortestBetweenNameAndSurname">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findShortestAmongAllStrings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findShortestBetween">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findShortestBetweenWithException">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="ServerWebService">
<port name="ServerWebServicePort" binding="tns:ServerWebServicePortBinding">
<soap:address location="http://localhost:8080/Week_08_B_Server/ServerWebService"/>
</port>
</service>
</definitions>